@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,700,700i,900,900i&display=swap');
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';

$purple: #f433ab;
$green: #00ff96;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #333;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6em;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header {
  padding-bottom: 30px;
  width: 100%;
  .container {
    background: linear-gradient(rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 1)),
      url('../src/images/bg-developer.svg') bottom right no-repeat;
    background-size: auto 105%;
    padding-top: 80px;
  }
  h1 {
    font-size: 2.8em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    small {
      font-size: 45%;
      line-height: 1em;
      color: $green;
      font-style: italic;
    }
  }
  .btn-return {
    text-decoration: none;
    background-color: #1b1b1b;
    color: #fff;
    padding: 5px 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.2s ease;
    &:hover {
      background-color: #fff;
      color: #1b1b1b;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      padding-top: 120px;
      padding-bottom: 60px;
      background: url('../src/images/bg-developer.svg') bottom right no-repeat;
      background-size: auto 110%;
      background-position: 50vw bottom;
    }
    h1 {
      font-size: 3.8em;
    }
  }
  @media screen and (min-width: 1024px) {
    .container {
      padding-bottom: 80px;
    }
    h1 {
      font-size: 4.8em;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      background-position: right bottom;
    }
  }
}

main {
  width: 100%;
}

.header-home {
  .description {
    width: 100%;
    margin-top: 40px;
    a {
      display: inline-flex;
      align-items: center;
      color: $green;
      text-decoration: none;
      position: relative;
      padding: 10px 0;
      i {
        margin-right: 10px;
        font-size: 1.2em;
      }
      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $green;
        display: block;
        transform: translate3d(0, -4px, 0);
        transition: all 0.2s ease;
        position: absolute;
        top: 100%;
      }
      &:hover {
        &::after {
          transform: translate3d(0, -10px, 0);
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    .description {
      width: 40%;
    }
  }
}

.member-list {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  width: 100%;
  .member {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: all 0.2s ease;
    .member-header {
      display: flex;
      align-items: center;
      width: 100%;
      .member-photo {
        width: 40px;
        height: auto;
        border-radius: 12px;
        margin-right: 20px;
        filter: grayscale(100%);
        transition: all 0.2s ease;
        background: #777;
      }
      .member-info {
        flex: 1;
        min-width: 0;
        .username {
          font-size: 1.1em;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &::before,
          &::after {
            color: $purple;
            font-weight: bold;
          }
          &::before {
            content: '{';
            margin-right: 5px;
          }
          &::after {
            content: '}';
            margin-left: 5px;
          }
        }
      }
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transform: scale(1.02);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      .member-header {
        .member-photo {
          filter: grayscale(0%);
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .member {
      width: calc(50% - 7px);
      .member-header {
        .member-photo {
          width: 60px;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .member {
      width: calc(33.33% - 7px);
    }
  }
}

.member-list + .member-list-loading {
  display: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  &.show {
    display: flex;
  }
  i {
    margin-right: 10px;
    font-size: 1.8em;
    color: $green;
  }
  span {
    font-style: italic;
  }
}

.profile-header {
  overflow: hidden;
  .container {
    background: none;
    padding-top: 30px;
    padding-bottom: 0;
  }
  h1 {
    small {
      line-height: 2.5em;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .user-login {
    min-width: 0;
    display: block;
    word-break: break-all;
    color: #fff;
  }
  .profile-intro {
    margin-top: 20px;
    .profile-photo {
      line-height: 0;
      margin: 0 -30px;
      background: #1b1b1b;
      padding: 30px;
      text-align: center;
      filter: grayscale(100%);
      img {
        width: 100%;
        height: auto;
        border-radius: 12px;
      }
    }
    .profile-info {
      margin-top: 20px;
      color: #ccc;
      .user-name {
        margin: 0;
        color: $green;
        font-size: 1.5em;
      }
      .user-bio {
        font-style: italic;
        margin: 16px 0;
        font-size: 0.9em;
      }
      .user-company {
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 10px;
        color: #fff;
      }
      .user-contact {
        font-size: 0.9em;
        margin-top: 16px;
        color: inherit;
        text-decoration: none;
        display: inline-block;
        margin-right: 30px;
        i {
          color: $green;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    .user-login {
      &::before,
      &::after {
        color: $purple;
      }
      &::before {
        content: '{';
        margin-right: 10px;
      }
      &::after {
        content: '}';
        margin-left: 10px;
      }
    }
    .container {
      background: linear-gradient(
          rgba(51, 51, 51, 0.95),
          rgba(51, 51, 51, 0.95)
        ),
        url('../src/images/bg-developer.svg') right 30px no-repeat;
      background-size: auto 50%;
      background-position: right top;
    }
    .profile-intro {
      display: flex;
      align-items: center;
      margin: 0 -30px;
      background: #1b1b1b;
      padding: 60px;
      margin-top: 60px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      .profile-photo {
        margin: 0;
        padding: 0;
        background: none;
        img {
          width: 280px;
        }
      }
      .profile-info {
        padding: 0 30px;
        font-size: 1.1em;
        margin: 0;
        .user-name {
          font-size: 1.8em;
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      background-size: auto 60%;
      .btn-return {
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
        margin-top: 40px;
      }
    }
    .profile-intro {
      border-radius: 12px;
      margin: 0;
      margin-top: 60px;
      .profile-photo {
        img {
          width: 320px;
        }
      }
      .profile-info {
        padding: 0 60px;
      }
    }
  }
}

footer {
  margin: 30px 0;
  width: 100%;
  .container {
    padding: 30px;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    text-align: center;
    a {
      color: $green;
      text-decoration: none;
      text-transform: lowercase;
      font-weight: bold;
    }
  }
}
